.pagination{
  display: flex;
	/* align-items: center; */
	justify-content: center;
}

.inputPag{
	width: 5%;
	margin: 0.5rem;
	border-radius: 5px;
	padding: 0.5rem;
	text-align: center;
	font-weight: bold;
}

.btnPageActive{
	background-color: rgb(173, 121, 30);
}


.btnNP {
	margin: 0.5rem;
	background-color: aliceblue;
	padding: 0.5rem;
	border-radius: 5px;
	color: black;
	font-weight: bold;
	font-size: 1rem;
	cursor: pointer;
}

.pPagesPagination {
	margin: 0.5rem;
	background-color: aliceblue;
	padding: 0.5rem;
	border-radius: 5px;
	color: black;
	font-weight: bold;
	font-size: 1rem;
	cursor: default;
}

.btnNP:hover {
	color: aliceblue;
	background-color: black;

}

.btnNP:disabled {
	cursor: no-drop;
	background-color: rgba(47, 46, 46, 0.865);
	color: aliceblue;
}
