.btnCRoleUsersC {
	background-color: #f5c04d;
	color: #541911;
	font-size: 1.2rem;
	font-weight: 600;
	width: 40%;
	cursor: pointer;
	margin-left: 2px;
	margin-right: 2px;
}

.btnCRoleUsersC:hover {
	color: #f5c04d;
	background-color: #541911;
}

.btnDeteleUsersC {
	background-color: #f5c04d;
	color: #541911;
	font-size: 1.2rem;
	font-weight: 600;
	width: 45%;
	cursor: pointer;
	margin-left: 2px;
	margin-right: 2px;
}

.btnDeteleUsersC:hover {
	color: aliceblue;
	background-color: red;
}
