.landingDiv {
	height: 100vh;
	display: flex;
	align-items: center;
	object-fit: cover;
	background: url(../../media/mk19.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
}

.bodyLandingC {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	align-content: center;
	object-fit: cover;
	margin: 1rem;
	height: 90%;
	width: 25%;
	border-radius: 15px;
	background-color: rgba(140, 173, 173, 0.176);
	backdrop-filter: blur(5px);
	box-shadow: #000000 0px 0px 8px;
}

.imgLandingC {
	display: inline-flex;
	justify-content: flex-start;
	height: 17rem;
	width: 17rem;
	margin: 1rem;
	background: url(../../media/mk20.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: rgba(11, 11, 11, 0.455);
	border-radius: 50%;
	backdrop-filter: blur(2px);
	box-shadow: #ffffff 0px 0px 8px;
}

.imgLandingC:hover {
	height: 17rem;
	width: 17rem;
	margin: 1rem;
	background: url(../../media/mk21.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.55s cubic-bezier(0.65, 0, 0.076, 1);
	background-color: rgba(183, 60, 60, 0.454);
	box-shadow: #000000 0px 0px 8px;
	backdrop-filter: blur(4px);
}

.parrfLandingC {
	height: 250px;
	max-height: 250px;
	align-items: center;
	justify-content: center;
	padding: 10%;
	font-style: italic;
	font-size: 2rem;
	font-weight: 700;
	color: rgb(255, 255, 255);
}

.btnsLandingsDivs {
	margin: 1rem;
}

.btnLandingC {
	margin: 1rem;
	font-size: 2rem;
	padding: 0.5rem 2rem;
	border-radius: 5px;
	font-weight: 600;
	background-color: rgba(183, 60, 60, 0.454);
	color: white;
	cursor: pointer;
}

.btnLandingC:hover {
	transition: all 0.25s cubic-bezier(0.65, 0, 0.076, 1);
	color: rgba(145, 48, 48, 0.454);
	background-color: rgb(219, 208, 208);
}
