.navProduc {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1rem;
	width: 300px;
	min-width: 300px;
	max-width: 300px;
}

.statusProductsNPC1 {
	width: 100%;
	margin: 4px;
	background-color: #1a180d70;
	color: aliceblue;
	font-weight: 700;
	font-size: 1.2rem;
	border-radius: 5px;
	padding: 0.2rem;
	color: rgb(247, 196, 90);
	background-color: rgb(84, 25, 17);
}

.statusProductsNPC2 {
	width: 100%;
	margin: 4px;
	background-color: #1a180d70;
	color: aliceblue;
	font-weight: 700;
	border-radius: 5px;
	padding: 0.2rem;
}

.cleanFiltersNPC {
	width: 100%;
	background-color: #f7c45a;
	color: #501711;
	font-size: 1.2rem;
	font-weight: 600;
	border-radius: 5px;
	cursor: pointer;
}

.cleanFiltersNPC:hover {
	color: #f7c45a;
	background-color: #501711;
}

.statusProductsNPC3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.nameTagsNavBar {
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	background-color: #1a180d70;
	box-shadow: rgb(0, 0, 0) 0px 0px 5px;
	padding: 1rem;
	padding-bottom: 1px;
}

.titleTagsNavBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	margin-bottom: -30px;
	margin-top: -20px;
	color: aliceblue;
	font-weight: 600;
	font-size: 1.2rem;
}

.tagsCNBC {
	display: flex;
	color: white;
	font-size: 1.3rem;
	justify-content: space-between;
	align-items: center;
}

.trueBtnNB {
	color: rgb(245, 192, 77);
	background-color: #541911;
	padding: 0.7rem;
	border-radius: 10px;
	font-size: 2rem;
	cursor: pointer;
}

.trueBtnNB:hover {
	color: #541911;
	background-color: rgb(245, 192, 77);
}

.falseBtnNB {
	color: #541911;
	padding: 0.7rem;
	font-size: 2rem;
	cursor: pointer;
}

.falseBtnNB:hover {
	color: rgb(245, 192, 77);
}

.titlesNavbarP {
	color: rgb(255, 255, 255);
	font-size: 1.2rem;
	font-weight: 600;
	margin: 2px;
}

.navProductCatagory {
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	background-color: #1a180d70;
	box-shadow: rgb(0, 0, 0) 0px 0px 5px;
}

.btnProductCategory {
	font-size: 1.1rem;
	padding: 4px;
	margin: 4px;
	border-radius: 4px;
	cursor: pointer;
	background-color: rgb(247, 196, 90);
	color: rgb(84, 25, 17);
	font-weight: 600;
}

.btnProductCategory:hover {
	color: rgb(247, 196, 90);
	background-color: rgb(84, 25, 17);
}

.selectNavProd {
	background-color: rgba(0, 0, 0, 0.474);
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	width: 290px;
	text-align: center;
	color: rgb(255, 255, 255);
	font-size: 1.2rem;
	box-shadow: rgb(0, 0, 0) 0px 0px 5px;
	background-color: #eddbb3;
	color: rgb(84, 25, 17);
	font-weight: 800;
}

.btnProdOption {
	color: rgb(247, 196, 90);
	background-color: rgb(84, 25, 17);
	font-weight: 600;
	margin: 0.5rem;
	font-size: 1.1rem;
	border-radius: 4px;
	cursor: pointer;
	padding: 4px;
}

.btnProdOption:hover {
	background-color: rgb(247, 196, 90);
	color: rgb(84, 25, 17);
}

.navProductIsPrepared {
	background-color: rgba(0, 0, 0, 0.474);
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	box-shadow: rgb(0, 0, 0) 0px 0px 5px;
}

.btnProductIsPrepared {
	font-size: 1.1rem;
	padding: 4px;
	margin: 4px;
	border-radius: 4px;
	cursor: pointer;
	background-color: rgb(247, 196, 90);
	color: rgb(84, 25, 17);
	font-weight: 600;
}

.btnProductIsPrepared:hover {
	color: rgb(247, 196, 90);
	background-color: rgb(84, 25, 17);
}

.typeNavProductTypes {
	font-size: 1.1rem;
	padding: 4px;
	margin: 4px;
	border-radius: 4px;
	cursor: pointer;
	background-color: rgb(247, 196, 90);
	color: rgb(84, 25, 17);
	font-weight: 600;
}

.noExitProduct {
	color: red;
	background-color: black;
	padding: 0.7rem;
	border-radius: 10px;
	font-size: 2rem;
	cursor: no-drop;
}
