.contenedor-principal-login {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.titleFormLC {
	font-size: 2rem;
	font-weight: 600;
}

.labelsFormLC {
	display: flex;
	align-items: center;
}

.labelEmailPassWLC {
	display: flex;
	flex-direction: column;
	font-size: 1.3rem;
	font-weight: 500;
	height: 90px;
	width: 290px;
}

.dicInputAndIconCkeck {
	display: flex;
	align-items: center;
}

.errorMSGGoogle {
	color: red;
}

.inputsFormLogC {
	font-size: 1.1rem;
	margin: 0.5rem;
	border-radius: 5px;
}

.button-login {
	color: rgb(245, 192, 77);
	background-color: #541911;
	padding: 0.7rem;
	border-radius: 15px;
	font-size: 1.1rem;
	cursor: pointer;
	font-weight: bold;
	margin: 1.5rem;
}

.button-login:hover {
	background-color: rgb(245, 192, 77);
	color: #541911;
}

.btnDinamicFalseFormLC {
	color: red;
	font-size: 1.3rem;
}

.btnDinamicTrueFormLC {
	color: green;
	font-size: 1.3rem;
}

.button-login:disabled {
	background-color: red;
	color: gray;
	cursor: no-drop;
}
