.formEditProductDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 4rem;
}

.formNewProductBody1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}

/*? inicio de 3 card*/
.formBodyNP {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
		"nameArea  imageArea priceArea"
		"descriptionArea descriptionArea descriptionArea"
		"stockArea isPreparedArea categoryArea";
	padding: 1rem;
	border-radius: 15px;
	background-color: rgb(238, 217, 173);
	box-shadow: #000000 0px 0px 4px;
}

.ingredientsAndtypesNP {
	margin-top: 1rem;
	display: grid;
	color: white;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
		"alcoholArea glutenArea lactoseArea"
		"ingredientsArea ingredientsArea ingredientsArea";
	padding: 1rem;
	border-radius: 15px;
	background-color: rgb(180, 165, 134);
	box-shadow: #000000 0px 0px 4px;
}

.attibutesNPC {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
		"creamArea creamArea creamArea"
		"textureArea bodyArea acidityArea"
		"bitternessArea roastArea colorArea";
		padding: 1rem;
		border-radius: 15px;
	background-color: #541911bd;
	box-shadow: #000000 0px 0px 4px;
}

.originCountryFieldNewProduct {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	padding: 1rem;
	font-size: 1.2rem;
	font-weight: 700;
	border-radius: 15px;
	color: aliceblue;
	background-color: #541911bd;
	box-shadow: #000000 0px 0px 4px;
}
/*?fin de 3 card*/

.nameFieldNewProduct {
	height: 80px;
	border-radius: 5px;
	font-size: 1.2rem;
	font-weight: 700;
	width: 300px;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	grid-area: nameArea;
}

.descriptionFieldNewProduct {
	height: 180px;
	width: 300px;
	margin: 1rem;
	display: flex;
	font-size: 1.2rem;
	font-weight: 700;
	flex-direction: column;
	grid-area: descriptionArea;
}

.textAreaDescriptionNP {
	width: 955px;
	height: 90px;
	border-radius: 5px;
}

.imageFieldNewProduct {
	height: 80px;
	border-radius: 5px;
	font-size: 1.2rem;
	font-weight: 700;
	width: 300px;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	grid-area: imageArea;
}

.categoryFieldNewProduct {
	height: 80px;
	font-size: 1.2rem;
	font-weight: 700;
	width: 300px;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	grid-area: categoryArea;
}

.priceFieldNewProduct {
	height: 80px;
	font-size: 1.2rem;
	font-weight: 700;
	border-radius: 5px;
	font-size: 1.2rem;
	font-weight: 700;
	width: 300px;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	grid-area: priceArea;
}

.stockFieldNewProduct {
	height: 80px;
	font-size: 1.2rem;
	font-weight: 700;
	width: 300px;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	grid-area: stockArea;
}

.isPreparedFieldNewProduct {
	height: 80px;
	width: 300px;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	grid-area: isPreparedArea;
}

.selectcard1newProduct{
	font-size: 1.2rem;
	font-weight: 700;
	text-align: center;
}

.lactoseFieldNewProduct {
	display: flex;
	margin: 1rem;
	flex-direction: column;
	grid-area: lactoseArea;
}

.glutenFieldNewProduct {
	display: flex;
	margin: 1rem;
	flex-direction: column;
	grid-area: glutenArea;
}

.alcoholFieldNewProduct {
	display: flex;
	margin: 1rem;
	flex-direction: column;
	grid-area: alcoholArea;
}

.ingredientsFieldNewProduct {
	display: flex;
	font-size: 1.2rem;
	font-weight: 700;
	flex-direction: column;
	grid-area: ingredientsArea;
}

.ingredientsInputNP {
	margin: 8px;
}

.creamFieldNewProduct {
	display: flex;
	height: 80px;
	font-size: 1.2rem;
	font-weight: 700;
	margin: 1rem;
	flex-direction: column;
	grid-area: creamArea;
}

.textureFieldNewProduct {
	display: flex;
	height: 80px;
	margin: 1rem;
	flex-direction: column;
	grid-area: textureArea;
}

.bodyFieldNewProduct {
	display: flex;
	height: 80px;
	margin: 1rem;
	flex-direction: column;
	grid-area: bodyArea;
}

.acidityFieldNewProduct {
	display: flex;
	height: 80px;
	margin: 1rem;
	flex-direction: column;
	grid-area: acidityArea;
}

.bitternessFieldNewProduct {
	display: flex;
	height: 80px;
	margin: 1rem;
	flex-direction: column;
	grid-area: bitternessArea;
}

.roastFieldNewProduct {
	display: flex;
	height: 80px;
	margin: 1rem;
	flex-direction: column;
	grid-area: roastArea;
}

.colorFieldNewProduct {
	display: flex;
	height: 80px;
	margin: 1rem;
	flex-direction: column;
	grid-area: colorArea;
}

.btnDivNP {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1rem;
}

.btnSubmitNp {
	background-color: rgba(0, 128, 0, 0.649);
	color: aliceblue;
	font-size: 2rem;
	font-weight: bold;
	font-style: oblique;
	border-radius: 10px;
	cursor: pointer;
}

.btnSubmitNp:hover {
	color: rgba(0, 128, 0, 0.649);
	background-color: rgb(255, 255, 255);
}

.colorErrorMsg {
	color: red;
	font-weight: 600;
	font-size: 1.2rem;
}
