.adminDiv {
	height: 100vh;
	display: flex;
	flex-direction: column;
	object-fit: cover;
	overflow-y: scroll;
	background: linear-gradient(to bottom, #2b2b2b41 0%, #0000005f 100%),url("../../media/mk02.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.linkAdmin {
	display: flex;
	height: 0px;

}

.imgBackHome {
	display: inline-flex;
	justify-content: flex-start;
	height: 6rem;
	width: 6rem;
	margin: 5px;
	background: url(../../media/mk01.jpg);
	background-size: cover;
}

.imgBackHome:hover {
	border: 1px;
	border-radius: 50%;
	border-color: rgb(255, 255, 255);
	border-style:solid

}

.divCardAd {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 100px 250px;
}

.cardsProducA {
	display: inline-block;
	position: relative;
	align-items: center;
	justify-items: center;
	font-weight: bold;
	margin: 1rem;
	width: 210px;
	height: 200px;
	background-color: rgba(100, 195, 68, 0.589);
	border-radius: 15px;
	backdrop-filter: blur(10px);
	padding: 15px;
	cursor: pointer;
}
.cardsUsersA {
	display: inline-block;
	position: relative;
	align-items: center;
	justify-items: center;
	font-weight: bold;
	margin: 1rem;
	width: 210px;
	height: 200px;
	background-color: rgba(199, 73, 35, 0.589);
	border-radius: 15px;
	backdrop-filter: blur(10px);
	padding: 15px;
	cursor: pointer;
}
.cardsNewsA {
	display: inline-block;
	position: relative;
	align-items: center;
	justify-items: center;
	font-weight: bold;
	margin: 1rem;
	width: 210px;
	height: 200px;
	background-color: rgba(90, 127, 157, 0.589);
	border-radius: 15px;
	backdrop-filter: blur(10px);
	padding: 15px;
	cursor: pointer;
}
.cardsDiscouA {
	display: inline-block;
	position: relative;
	align-items: center;
	justify-items: center;
	font-weight: bold;
	margin: 1rem;
	width: 210px;
	height: 200px;
	background-color: rgba(206, 193, 54, 0.589);
	border-radius: 15px;
	backdrop-filter: blur(10px);
	padding: 15px;
	cursor: pointer;
}
.cardsProfitsA {
	display: inline-block;
	position: relative;
	align-items: center;
	justify-items: center;
	font-weight: bold;
	margin: 1rem;
	width: 210px;
	height: 200px;
	background-color: rgba(50, 134, 202, 0.589);
	border-radius: 15px;
	backdrop-filter: blur(10px);
	padding: 15px;
	cursor: pointer;
}
.cardsMyAccA {
	display: inline-block;
	position: relative;
	align-items: center;
	justify-items: center;
	font-weight: bold;
	margin: 1rem;
	width: 210px;
	height: 200px;
	background-color: rgba(198, 133, 42, 0.589);
	border-radius: 15px;
	backdrop-filter: blur(10px);
	padding: 15px;
	cursor: pointer;
}

.navbarAdmin {
	display: flex;
	justify-content: center;
	margin: 2rem 7rem;
}

.nbAd {
	margin: 10px;
	background-color: aliceblue;
	width: 150px;
	cursor: pointer;
	border-radius: 10px;
	font-weight: bold;
}

.nbAd:hover {
	background-color: rgb(0, 0, 0);
	color: aliceblue;
}

.nbAdMoreC {
	margin: 10px;
	background-color: rgb(136, 205, 62);
	color: rgb(15, 15, 16);
	width: 150px;
	cursor: pointer;
	border-radius: 10px;
	font-weight: bold;
}

.nbAdMoreC:hover {
	color: rgb(136, 205, 62);
	background-color: rgb(15, 15, 16);
}

.activeTabsA {
	margin: 10px;
	background-color: rgb(47, 119, 183);
	color: aliceblue;
	width: 150px;
	cursor: pointer;
	border-radius: 10px;
	font-weight: bold;
}

.activeTabsA:hover {
	color: rgb(47, 119, 183);
	background-color: rgb(1, 1, 1);
}

.iconAdminCards {
	font-size: 8rem;
}

.lettersCardsA {
	font-size: 1.5rem;
}

.divProductsAdmin{
	display: flex;
	flex-direction: column;
}

.newProductBtnPe {
	width: 100px;
	display: inline-flex;
	justify-content: flex-start;
	margin: 5px;
	padding: 0.9rem;
	border-radius: 50%;
	font-weight: bold;
	font-size: 1.1rem;
	color: aliceblue;
	background-color: rgb(58, 187, 58);
}

.newProductBtnPe:hover {
	color: rgb(58, 187, 58);
	background-color: aliceblue;
}
