.adminDiv {
	height: 100vh;
	display: flex;
	flex-direction: column;
	object-fit: cover;
	overflow-y: scroll;
	background: linear-gradient(to bottom, #89898941 100%, #5656565f 0%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.linkAdmin {
	display: flex;
	height: 0px;
}

.imgBackHome {
	display: inline-flex;
	justify-content: flex-start;
	height: 6rem;
	width: 6rem;
	margin: 10px 15px;
	background: url(../../media/mk01.jpg);
	background-size: cover;
}

.imgBackHome:hover {
	transition: all 0.55s cubic-bezier(0.65, 0, 0.076, 1);
	background: linear-gradient(to bottom, #bfbfbf41 0%, #0000005f 100%),
		url("../../media/mk13.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: aliceblue;
	border-radius: 50%;
}

.divCardAd {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 100px 250px;
}

.cardsProducA {
	display: inline-block;
	position: relative;
	align-items: center;
	justify-items: center;
	font-weight: bold;
	margin: 1rem;
	width: 210px;
	height: 200px;
	background-color: rgba(100, 195, 68, 0.650);
	border-radius: 15px;
	backdrop-filter: blur(10px);
	padding: 15px;
	cursor: pointer;	box-shadow: #000000 0px 0px 4px;
}

.cardsProducA:hover {
	color: white;
}

.cardsUsersA {
	display: inline-block;
	position: relative;
	align-items: center;
	justify-items: center;
	font-weight: bold;
	margin: 1rem;
	width: 210px;
	height: 200px;
	background-color: rgba(199, 73, 35, 0.650);
	border-radius: 15px;
	backdrop-filter: blur(10px);
	padding: 15px;
	cursor: pointer;	box-shadow: #000000 0px 0px 4px;
}
.cardsUsersA:hover {
	color: white;
}

.cardsOrdersA {
	display: inline-block;
	position: relative;
	align-items: center;
	justify-items: center;
	font-weight: bold;
	margin: 1rem;
	width: 210px;
	height: 200px;
	background-color: rgba(35, 199, 185, 0.65);
	border-radius: 15px;
	backdrop-filter: blur(10px);
	padding: 15px;
	cursor: pointer;
	box-shadow: #000000 0px 0px 4px;
}

.cardsOrdersA:hover {
	color: white;
}

.cardsNewsA {
	display: inline-block;
	position: relative;
	align-items: center;
	justify-items: center;
	font-weight: bold;
	margin: 1rem;
	width: 210px;
	height: 200px;
	background-color: rgba(90, 127, 157, 0.650);
	border-radius: 15px;
	backdrop-filter: blur(10px);
	padding: 15px;
	cursor: pointer;	box-shadow: #000000 0px 0px 4px;
}
.cardsNewsA:hover {
	color: white;
}
.cardsDiscouA {
	display: inline-block;
	position: relative;
	align-items: center;
	justify-items: center;
	font-weight: bold;
	margin: 1rem;
	width: 210px;
	height: 200px;
	background-color: rgba(206, 193, 54, 0.650);
	border-radius: 15px;
	backdrop-filter: blur(10px);
	padding: 15px;
	cursor: pointer;	box-shadow: #000000 0px 0px 4px;
}
.cardsDiscouA:hover {
	color: white;
}
.cardsProfitsA {
	display: inline-block;
	position: relative;
	align-items: center;
	justify-items: center;
	font-weight: bold;
	margin: 1rem;
	width: 210px;
	height: 200px;
	background-color: rgba(50, 134, 202, 0.650);
	border-radius: 15px;
	backdrop-filter: blur(10px);
	padding: 15px;
	cursor: pointer;	box-shadow: #000000 0px 0px 4px;
}
.cardsProfitsA:hover {
	color: white;
}
.cardsMyAccA {
	display: inline-block;
	position: relative;
	align-items: center;
	justify-items: center;
	font-weight: bold;
	margin: 1rem;
	width: 210px;
	height: 200px;
	background-color: rgba(198, 133, 42, 0.650);
	border-radius: 15px;
	backdrop-filter: blur(10px);
	padding: 15px;
	cursor: pointer;	box-shadow: #000000 0px 0px 4px;
}
.cardsMyAccA:hover {
	color: white;
}
.navbarAdmin {
	display: flex;
	justify-content: center;
	margin: 2rem 7rem;
}

.nbAd {
	margin: 10px;
	background-color: aliceblue;
	width: 150px;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: #000000 0px 0px 1px;
	font-weight: bold;
}

.nbAd:hover {
	background-color: rgb(0, 0, 0);
	color: aliceblue;
}

.nbAdMoreC {
	margin: 10px;
	background-color: rgb(136, 205, 62);
	color: rgb(15, 15, 16);
	width: 150px;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: #000000 0px 0px 1px;
	font-weight: bold;
}

.nbAdMoreC:hover {
	color: rgb(136, 205, 62);
	background-color: rgb(15, 15, 16);
}

.activeTabsA {
	margin: 10px;
	background-color: rgb(47, 119, 183);
	color: aliceblue;
	width: 150px;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: #000000 0px 0px 1px;
	font-weight: bold;
}

.activeTabsA:hover {
	color: rgb(47, 119, 183);
	background-color: rgb(1, 1, 1);
}

.iconAdminCards {
	font-size: 8rem;
}

.lettersCardsA {
	font-size: 1.5rem;
}

.productsAdminPC {
	display: flex;
	flex-direction: column;
}

.btnDivnewproductPe {
	display: flex;
	justify-content: center;
}

.divProductsAdmin {
	display: inline-flex;
	flex-direction: column;
	margin-top: 4rem;
}

.newProductBtnPe {
	width: 500px;
	margin: 1.5rem 0rem;
	padding: 0.9rem;
	border-radius: 5px;
	font-weight: bold;
	font-size: 2rem;
	color: aliceblue;
	background-color: rgb(58, 187, 58);
	cursor: pointer;
}

.newProductBtnPe:hover {
	color: rgb(58, 187, 58);
	background-color: aliceblue;
}

.navBarACardsAdminC {
	display: flex;
	align-items: flex-start;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
