.myOrdersDivC {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	height: 100%;
}

.reviewOrdersDivC {
	margin: 1rem;
	background-color: #d4cbca;
	border-radius: 4px;
	padding: 0.5rem;
	font-size: 1.2rem;
}

.titleReviewMOC {
	font-weight: 700;
}

.reviewDivMyOrderC {
	background-color: #eed9ad;
}

.btn-delete-review {
	background-color: #d22a14;
	color: white;
	font-size: 1.1rem;
	font-weight: 600;
	border-radius: 4px;
	cursor: pointer;
	margin: 4px;
}

.btn-delete-review:hover {
	color: #c3311d;
	background-color: white;
}

.btn-change-review {
	background-color: #f5c04d;
	color: #541911;
	font-size: 1.1rem;
	font-weight: 600;
	border-radius: 4px;
	cursor: pointer;
	margin: 4px;
}

.btn-change-review:hover {
	color: #f5c04d;
	background-color: #541911;
}

.bodyMyOrdersC {
	width: 90%;
	display: flex;
	flex-direction: column;
	background-color: #541911;
	padding: 2rem;
	border-radius: 4px;
	box-shadow: #541911 0px 0px 2px;
	margin: 1rem;
}

.navOrdersC {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f2f2f2;
	padding: 10px;
	margin: 10px;
	border-radius: 4px;
	gap: 10px;
	font-size: 1.2rem;
}

.cardsMyOrdersC {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.tableCardMyOrdersC {
	background-color: #eed9ad;
	box-shadow: #541911 0px 0px 4px;
	padding: 0.5rem;
	border-radius: 4px;
	margin: 1rem;
}

.theadMyOrdersC {
	background-color: #541911;
	box-shadow: #f5c04d 0px 0px 2px;
	color: #f5c04d;
	font-size: 1.5rem;
}

.totalMyOrderTC {
	background-color: rgba(255, 255, 255, 0.943);
	border-radius: 4px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	box-shadow: #f54d4d 0px 0px 2px;
}

.statusMyOrderC {
	font-weight: 600;
	font-size: 1.2rem;
}

.totalMyOrderC {
	font-weight: 600;
	font-size: 1.2rem;
}

.completeStyleMyOrdC {
	color: green;
	font-size: 1.3rem;
	font-weight: 700;
	text-transform: uppercase;
}

.pendingStyleMyOrdC {
	color: red;
	font-size: 1.3rem;
	font-weight: 700;
	text-transform: uppercase;
}

.btnNavbarMyOrdersC {
	background-color: #f5c04d;
	color: #541911;
	font-size: 1.2rem;
	font-weight: 600;
	width: 30%;
	border-radius: 4px;
	cursor: pointer;
	margin: 4px;
}

.btnNavbarMyOrdersC:hover {
	color: #f5c04d;
	background-color: #541911;
}
