.contenedor-principal {
	display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  height: 100%;
}
.filtros-orden {
	display: flex;
  align-items: center;
	width: 90%;
  height: 20%;
	background-color: #f2f2f2;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
  gap: 20px;
}

.titleFilter{
  display: flex;
  width: auto;
}
.buttons-orden{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
 
}
.contenedor-review{
  display: flex;
  width: 90%;
  height: 80%;
  
  justify-content: center;

  
  

}
.contenedor-user-review{
  display:flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
.btn-change-review{
  display:flex;
  justify-content: center;

  align-items: flex-end;
  flex-direction: column;
  gap: 20px;
}


.contenedor-ordenes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: auto;
  background-color: #F2F2F2;
  
  margin: 0px;
  padding: 10px;
  background-color: #541911;
  border-radius: 10px;

}

.Contenedor-Orden {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40%;
	height: auto;
	border-radius: 10px;
  margin: 20px;
}

.status-orden-pending{
  display: flex;
  justify-content: center;
  width: 60%;
  height: fit-content ;
  background: rgb(227,213,49);
background: linear-gradient(180deg, rgba(227,213,49,1) 53%, rgba(237,219,179,1) 100%);
  border-left: 2px black solid;
  border-top: 2px black solid;
  border-right: 2px black solid;
  border-bottom: 2px #eddbb3 solid;
  border-radius: 20px;
  position: relative;
  top: 8px;
}
.status-orden-completed{
display: flex;
justify-content: center;
width: 60%;
height: fit-content ;
background: rgb(109,227,49);
background: linear-gradient(180deg, rgba(109,227,49,1) 53%, rgba(237,219,179,1) 100%);
border-left: 2px black solid;
border-top: 2px black solid;
border-right: 2px black solid;

border-radius: 20px;
position: relative;
top: 8px;
}

.status-orden-cancelado{
  display: flex;
  justify-content: center;
  width: 60%;
  height: fit-content ;
  background-color: rgb(234, 20, 0);
  border-left: 2px black solid;
  border-top: 2px black solid;
  border-right: 2px black solid;
  border-bottom: 2px rgb(234, 20, 0) solid;
  border-radius: 20px;
  position: relative;
  top: 8px;
}



.cuerpo-Orden{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #eddbb3;
  border : 2px solid black;
  border-radius: 20px 20px 20px 20px;
  box-shadow: #F2F2F2 0px 0px 10px 0px;
  


}

.title-orden{
  display:flex  ;
  justify-content: space-between;
  border-bottom: 2px solid black;

}
.name-product-orden{
  display: flex;

  border: 0px;
}
.price-product-orden{
  border: 0px;
 
}
.quantity-product-orden{
  border: 0px;
  
}



.item-orden {
	display: flex;
	align-items: center;
  justify-content: space-between;
	border-bottom: 1px black solid;
	width: auto;
	height: auto;
	gap: 2%;
	padding: 20px;
}

.price-item {
	display: flex;
	align-items: flex-end;
}
.image {
	display: flex;
	width: 30%;
	border-radius: 20%;
}
.total-orden {
	display: flex;
	
}
