.currentNewDiv {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	object-fit: cover;
	overflow-y: scroll;
	background-image: linear-gradient(to bottom, #40404041 0%, #3231315f 100%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.headerCurrentNew {
	width: 100%;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	background: linear-gradient(to bottom, #7d383841 100%, #0000005f 0%),
		url("../../../media/mk03.jpg");
	background-size: cover;
	background-position: center;
	box-shadow: rgb(253, 188, 37) 0px 0px 25px;
}

.titleCurrentNew {
	color: aliceblue;
	font-size: 3.5rem;
	font-weight: 700;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.allBodyCurrentNew {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2rem;
}

.body1CurrentNew {
	display: grid;
	align-items: center;
	justify-items: center;
	height: 420px;
	max-height: 420px;
	width: 90%;
	margin: 1rem;
	background-color: #ddc592;
	backdrop-filter: blur(5px);
	border-radius: 10px;
	padding: 2rem;
}

.textBody1CurrentNew {
	font-size: 1.5rem;
	font-weight: 700;
	font-style: oblique;
}

.bodyImageCurrentNew {
	display: flex;
	justify-items: center;
	align-items: center;
	justify-content: center;
	height: 420px;
	max-height: 420px;
	width: 90%;
	margin: 1rem;
	background-color: rgba(128, 81, 34, 0.616);
	backdrop-filter: blur(5px);
	border-radius: 10px;
	padding: 2rem;
}

.imageCurrentNews {
	height: 420px;
	max-height: 420px;
	border-radius: 4px;
}

.body2CurrentNew {
	display: grid;
	align-items: center;
	justify-items: center;
	height: 420px;
	max-height: 420px;
	width: 90%;
	margin: 1rem;
	background-color: rgba(128, 81, 34, 0.616);
	backdrop-filter: blur(5px);
	border-radius: 10px;
	padding: 2rem;
}

.textBody2CurrentNew {
	font-size: 1.5rem;
	font-weight: 600;
}

.body3CurrentNew {
	display: grid;
	align-items: center;
	justify-items: center;
	height: 420px;
	max-height: 420px;
	width: 90%;
	margin: 1rem;
	background-color: rgba(184, 175, 70, 0.616);
	backdrop-filter: blur(5px);
	border-radius: 10px;
	padding: 2rem;
}

.textBody3CurrentNew {
	font-size: 1.5rem;
	font-weight: 600;
}

.buttonCurrentNewsC {
	color: rgb(245, 192, 77);
	background-color: #541911;
	padding: 0.7rem;
	border-radius: 15px;
	font-size: 1.5rem;
	cursor: pointer;
	font-weight: bold;
	margin: 2rem;
	transition: all 0.25s cubic-bezier(0.65, 0, 0.076, 1);
}

.buttonCurrentNewsC:hover {
	background-color: rgb(245, 192, 77);
	color: #541911;
	transition: all 0.25s cubic-bezier(0.65, 0, 0.076, 1);
}
