.errorSDiv {
	height: 250px;
	width: 500px;
	border-radius: 15px;
	color: aliceblue;
	background: url(../../media/mk07.gif);
	padding: 10px;
	margin: 3rem;
	box-shadow: #541911 0px 0px 8px;
}

.strErrorSp {
	margin: 10px;
}
