.homeDiv {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	object-fit: cover;
	background: linear-gradient(to bottom, #a4a4a441 100%, #5656565f 0%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.banner {
	display: flex;
	background: linear-gradient(to bottom, #20202041 0%, #3939395f 100%),
		url("../../media/Banner.jpg");
	height: 35%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.discountsAndNews {
	display: grid;
	align-items: stretch;
	justify-items: stretch;
	grid-template-columns: 1fr 2fr;
	margin: 1rem;
}

.discounts {
	width: 90%;
	margin: 2rem;
	height: 440px;
	max-height: 440px;
	display: flex;
	max-width: 95%;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 440px;
	border-radius: 10px;
	align-content: center;
	justify-content: center;
	backdrop-filter: blur(5px);
	box-shadow: #541911 0px 0px 8px;
	/* background-color: rgba(255, 255, 255, 0.438); */
	background-color:rgb(221, 197, 146)
}

.discountsC {
	margin: 5px;
	width: 40%;
	max-width: 40%;
	height: 40%;
	max-height: 40%;
	color: white;
	border-radius: 5px;
	position: relative;
	align-items: center;
	justify-items: center;
	display: inline-block;
	border: solid 2px black;
	backdrop-filter: blur(15px);
	background-color: rgba(0, 0, 0, 0.678);
}

.titleDiscountNew{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 2rem;
	font-weight: 800;
	color: rgb(27, 210, 27);
}
.descripDiscountNew{
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.5rem;
	font-weight: 700;
}
