.homeDiv {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	object-fit: cover;
	overflow-y: scroll;
	background: linear-gradient(to bottom, #a4a4a441 100%, #5656565f 0%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.bodyHomeC {
	display: flex;
	flex-direction: column;
}

.banner {
	display: flex;
	background: linear-gradient(to bottom, #20202041 0%, #3939395f 100%),
		url("../../media/Banner.jpg");
	height: 30vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.viewRAndNewDivHomeC {
	display: grid;
	align-items: stretch;
	justify-items: stretch;
	grid-template-columns: 1fr 2fr;
	margin: 1rem;
}

.geoAndViewNLHomeC {
	display: grid;
	align-items: stretch;
	justify-items: stretch;
	grid-template-columns: 2fr 1fr;
	margin: 1rem;
}
