.productDetailsDiv {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	object-fit: cover;
	overflow-y: scroll;
	background: linear-gradient(to bottom, #a4a4a441 100%, #5656565f 0%);
	background-size: cover;
	background-position: center;
}

.productNameDC {
	font-size: 3rem;
	font-weight: bold;
	margin: 2rem;
}

.productDetailsBody {
	width: 95%;
	margin: 2.5rem 1rem;
	border-radius: 15px;
	background-color: rgba(247, 195, 81, 0.35);
	backdrop-filter: blur(5px);
	box-shadow: #541911 0px 0px 8px;
}

.detailsBodyPD {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-items: center;
}

.imgDescriptionDB {
	height: 90%;
	max-height: 90%;
	margin: 5px;
}

.ingredientsACDescripC {
	display: flex;
	flex-direction: column;
	height: 400px;
	width: 400px;
	border-radius: 15px;
	background-color: #454241b6;
	justify-content: center;
	box-shadow: #541911 0px 0px 5px;
	color: aliceblue;
}

.productDetailsCategory {
	font-style: oblique;
	font-size: 1.3rem;
	font-weight: 800;
	color: black;
	margin: 1rem;
}

.productDetailsIngred {
	font-style: oblique;
	font-size: 1.2rem;
	font-weight: 700;
	color: #541911;
}

.productDetailsIngredCu {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 3px;
	font-weight: 500;
}

.typeDescripC {
	display: flex;
	flex-direction: column;
	height: 400px;
	width: 400px;
	border-radius: 15px;
	background-color: #454241b6;
	justify-content: center;
	box-shadow: #541911 0px 0px 5px;
	color: aliceblue;
}

.titleTypeDescripC {
	font-style: oblique;
	font-size: 1.2rem;
	font-weight: 700;
	color: black;
	margin: 4px;
}

.typeDetailsProductC {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	font-weight: 500;
	margin: 4px;
}

.descriptPD {
	font-size: 1.3rem;
	margin: 0.5rem;
	padding: 3%;
	font-weight: 600;
	font-style: oblique;
}

.tempPDbuyA {
	display: flex;
	justify-content: center;
	margin: 1rem;
}

.tempPDbuyAGoBack {
	margin: 1rem;
	background-color: rgb(0, 0, 0);
	font-weight: bold;
	font-size: 1.2rem;
	color: rgb(255, 255, 255);
	border-radius: 5px;
	padding: 10px 25px;
	cursor: pointer;
}

.tempPDbuyAGoBack:hover {
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
}

.tempPDbuyAPrice {
	margin: 1rem;
	font-weight: bold;
	font-size: 1.2rem;
	border-radius: 5px;
	padding: 10px 25px;
	background-color: rgb(239, 234, 224);
	box-shadow: #541911 0px 0px 5px;
}

.tempPDAQty {
	margin: 1rem;
	font-weight: bold;
	font-size: 1.2rem;
	border-radius: 5px;
	padding: 10px 25px;
	background-color: rgb(239, 234, 224);
	box-shadow: #541911 0px 0px 5px;
}

.tempPDAInput {
	width: 3%;
	margin: 1rem;
	font-weight: bold;
	font-size: 1.2rem;
	border-radius: 5px;
	padding: 10px 25px;
}

.tempPDbuyAAdd {
	margin: 1rem;
	background-color: rgb(247, 196, 90);
	font-weight: bold;
	font-size: 1.2rem;
	color: black;
	border-radius: 5px;
	padding: 10px 25px;
	cursor: pointer;
	box-shadow: #541911 0px 0px 5px;
}

.tempPDbuyAAddNSPD {
	margin: 1rem;
	font-weight: bold;
	font-size: 1.2rem;
	color: black;
	border-radius: 5px;
	padding: 10px 25px;
	cursor: no-drop;
	background-color: rgb(200, 200, 200);
	color: rgb(95, 91, 91);
}

.tempPDbuyAAdd:hover {
	color: rgb(247, 196, 90);
	background-color: black;
}

.tempPDbuyABuy {
	margin: 1rem;
	background-color: rgba(247, 197, 90, 0.79);
	backdrop-filter: blur(10px);
	font-weight: bold;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 1.2rem;
	cursor: pointer;
	box-shadow: #541911 0px 0px 5px;
}

.tempPDbuyABuyNSPD {
	margin: 1rem;
	background-color: rgb(200, 200, 200);
	color: rgb(95, 91, 91);
	backdrop-filter: blur(10px);
	font-weight: bold;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 1.2rem;
	cursor: no-drop;
}


.tempPDbuyABuy:hover {
	color: rgba(247, 197, 90, 0.79);
	background-color: black;
}

.attributesPDetailsC {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	font-weight: 500;
	font-size: 1.1rem;
}
.attributesPDetailsCCream {
	margin-top: 1px;
	font-weight: 500;
	font-size: 1.1rem;
}
