.navbarDivC {
	height: 130px;
	min-height: 130px;
	max-height: 130px;
	border: 15px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(221, 213, 213, 0.712);
	background: linear-gradient(to bottom, #7d383841 100%, #0000005f 0%),
		url("../../media/mk03.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: rgb(253, 188, 37) 0px 0px 25px;

}

.logo {
	width: 100px;
	height: 100px;
	background-image: url("../../media/mk01.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 4px 15px;
}

.logo:hover {
	width: 100px;
	height: 100px;
	transition: all 0.55s cubic-bezier(0.65, 0, 0.076, 1);
	background: linear-gradient(to bottom, #bfbfbf41 0%, #0000005f 100%),
		url("../../media/mk13.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: aliceblue;
	border-radius: 50%;
}

.btnNavbarDiv {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}

.btnNBCU {
	margin-left: 25px;
	margin-right: 25px;
	color: rgb(243, 214, 147);
	font-size: 1.5rem;
	font-weight: 700;
	border: none;
	background-color: rgba(179, 16, 16, 0);
	cursor: pointer;
}

.btnNBCU:hover {
	color: rgb(255, 253, 253);
}
