.geolocation {
	display: flex;
	background-color: #ddc592;
	border-radius: 4px;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 1rem;
	padding: 1rem;
	box-shadow: rgb(107, 19, 19) 0px 0px 4px;
	color: #541911;
}
.geolocation__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mapGeoC {
	height: 100%;
	width: 100%;
	border-radius: 4px;
}
