.cardDiv {
	display: inline-block;
	position: relative;
	align-items: center;
	justify-items: center;
	margin: 20px;
	width: 20rem;
	height: 32rem;
	max-height: 32rem;
	min-height: 32rem;
	background-color: rgba(247, 195, 81, 0.35);
	backdrop-filter: blur(5px);
	box-shadow: #541911 0px 0px 4px;
	padding: 0rem 1rem;
}

.cardDivF {
	display: inline-block;
	position: relative;
	align-items: center;
	justify-items: center;
	margin: 20px;
	width: 20rem;
	height: 32rem;
	max-height: 32rem;
	min-height: 32rem;
	background-color: rgba(114, 91, 41, 0.457);
	box-shadow: #541911 0px 0px 4px;
	padding: 0rem 1rem;
}

.triangleColorCardPC {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0;
	height: 0;
	margin: 1px;
	border-top: 100px solid #d9320d;
	border-right: 100px solid transparent;
}

.textTrianglePC {
	color: white;
	position: relative;
	top: -80px;
	left: 15px;
	font-weight: bold;
	padding: 5px;
	transform: rotate(-45deg);
}

.linkCardP {
	color: black;
	text-decoration: none;
}

.nameCard {
	height: 40px;
	max-height: 40px;
	font-size: 1.5rem;
	margin: 0.5rem;
	font-weight: bold;
}

.descripCard {
	margin: 5px;
	height: 100px;
	max-height: 100px;
}

.imgCard {
	height: 35%;
	max-height: 35%;
	margin: 5px;
}

.imgCardNSCP {
	height: 35%;
	max-height: 35%;
	margin: 5px;
	-webkit-filter: grayscale(1); /* Webkit */
	filter: gray; /* IE6-9 */
	filter: grayscale(1); /* W3C */
}

.divTypeCardP {
	display: grid;
	grid-template-columns: repeat(4, 70px);
	justify-content: center;
	align-items: center;
	justify-items: center;
}
.btnMercadoPago{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 90%;
		background-color: #2d2d2d;
		color: rgb(0, 0, 0);
		font-weight: bold;
		font-size: 1.2rem;
		cursor: pointer;
		transition: 0.5s;
		background-color: rgb(0, 158, 227);
		border-radius: 20px;
		border: solid 2px #000000;

}

.btnMercadoPago:hover{
		background-color: #000000;
		color: rgb(255, 255, 255);
	}

.trueBtn {
	color: rgb(245, 192, 77);
	background-color: #541911;
	padding: 0.7rem;
	border-radius: 15px;
	font-size: 2.5rem;
}

.falseBtn {
	color: #541911;
	padding: 0.7rem;
	border-radius: 15px;
	font-size: 2.5rem;
}

.btnInfoCardP {
	background-color: rgba(0, 0, 0, 0.802);
	color: rgba(39, 122, 161);
	backdrop-filter: blur(10px);
	padding: 0.5rem;
	border-radius: 50%;
	font-size: 2.1rem;
}

.btnInfoCardP:hover {
	background-color: rgba(39, 122, 161, 0.802);
	color: rgb(28, 28, 29);
}

.divTempCart {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	justify-items: center;
}

.pCartTemp {
	align-content: center;
	font-size: 1.2rem;
	font-weight: bold;
	margin-left: 45px;
	margin-right: 30px;
}

.inputCartTemp {
	height: 45%;
	width: 50%;
	border-radius: 5px;
	margin-left: 0px;
	margin-right: 35px;
	padding: 0.3rem;
	font-weight: bold;
	font-size: 1.2rem;
	text-align: center;
}

.btnBCartTemp {
	background-color: rgb(247, 196, 90);
	font-weight: bold;
	font-size: 1.2rem;
	color: black;
	border-radius: 5px;
	margin: 4px;
	padding: 10px 25px;
	cursor: pointer;
}

.btnBCartTempNSCP {
	background-color: rgb(200, 200, 200);
	font-weight: bold;
	font-size: 1.2rem;
	color: rgb(95, 91, 91);
	border-radius: 5px;
	margin: 4px;
	padding: 10px 25px;
	cursor: no-drop;
}

.btnBCartTemp:hover {
	color: rgb(247, 196, 90);
	background-color: black;
}

.btnACartTemp {
	background-color: rgba(247, 197, 90, 0.79);
	backdrop-filter: blur(10px);
	border-radius: 5px;
	margin: 4px;
	padding: 10px 20px;
	font-size: 1.2rem;
	cursor: pointer;
}

.btnACartTempNSCP {
	backdrop-filter: blur(10px);
	background-color: rgb(200, 200, 200);
	color: rgb(95, 91, 91);
	border-radius: 5px;
	margin: 4px;
	padding: 10px 20px;
	font-size: 1.2rem;
	cursor: no-drop;
}

.btnACartTemp:hover {
	color: rgba(247, 197, 90);
	background-color: black;
}

.priceCardPC {
	margin: 1rem;
	font-weight: bold;
	font-size: 1.2rem;
	border-radius: 5px;
	padding: 10px 25px;
	background-color: rgb(239, 234, 224);
	box-shadow: #541911 0px 0px 5px;
}
.btnlikeCardPC {
	position: absolute;
	background-color: transparent;
	border: none;
	top: 0;
	right: 0;
	margin: 10px;
	font-size: 2rem;
	cursor: pointer;
	z-index: 1;
}

.btnLikeCardTrue {
	color: #b83928;
}

.btnLikeOff {
	color: #7a2418;
}

.triangleCardPC {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0;
	height: 0;
	margin: 1px;
	border-top: 100px solid #3baf14;
	border-right: 100px solid transparent;
}

.textTriangleCardPC {
	color: white;
	position: relative;
	top: -80px;
	left: 15px;
	font-weight: bold;
	padding: 5px;
	transform: rotate(-45deg);
}
