.logInDiv {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	object-fit: cover;
	overflow-y: scroll;
	background: linear-gradient(to bottom, #a4a4a441 100%, #5656565f 0%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.logInBody {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 60%;
	margin: 8%;
	background-color: rgba(185, 0, 0, 0.37);
	border-radius: 10px;

}
