.newDiv {
	width: 90%;
	max-width: 90%;
	height: 440px;
	max-height: 440px;
	margin: 2rem;
	border-radius: 10px;
	display: inline-block;
	position: relative;
	align-items: center;
	justify-items: center;
	color: rgb(0, 0, 0);
	background-color:rgb(221, 197, 146);
	backdrop-filter: blur(5px);
	box-shadow: #541911 0px 0px 8px;
}

.titleNew {
	font-weight: bold;
	font-size: 1.5rem;
	margin: 1rem;
}

.descripAPicNew {
	display: grid;
	grid-template-columns: 1fr 2fr;
	justify-items: center;
	align-items: center;
	margin: 5px;
}

.descripNewBody {
	margin: 1rem;
	font-size: 1.3rem;
	font-weight: 500;
	font-style: oblique;
}

.imgNewC {
	margin: 1rem;
	width: 90%;
	max-width: 90%;
	border-radius: 5px;
}

.buttonNewC {
	padding: 0.2rem 1rem;
	font-size: 2rem;
	border-radius: 5px;
	background-color: black;
	color: aliceblue;
	cursor: pointer;
	transition: all 0.25s cubic-bezier(0.65, 0, 0.076, 1);
}

.buttonNewC:hover {
	color: black;
	background-color: aliceblue;
	transition: all 0.25s cubic-bezier(0.65, 0, 0.076, 1);
}
