.discountsDiC {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	object-fit: cover;
}

.navbarDiscountsC {
	display: flex;
	align-items: flex-start;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.discountsCardsC {
	display: flex;
	flex-wrap: wrap;
}
